* {
  font-family: "trebuchet ms", Arial, Helvetica, sans-serif;
  }

html {
  background-color: #c3c2be;
}
body, html {
  max-width:98em;
  max-height:100%;
  margin: auto;
}

header {
  height:26em;
  width:100%;
  text-align: center;
  background-size: cover;
  background-image: url(https://www.numerama.com/content/uploads/2017/04/rick-and-morty.jpeg);
  margin: auto;
}
main {

}
input {
  border: 20px solid #c3c2be;
  width:325px;
}
form {
  max-height:64em;
  padding: 2em 2em 2em 2em;
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  line-height: 0px;
  background-color: #41ad3e;
  position: relative;
  bottom:15px;
}
li {
  padding:20px;
  border-left: 2px solid white;
  border-right: 2px solid white;

}
footer {
  background-color: green;
  opacity:0.4;
  max-height: 15em;
  height: 15em;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}
i {
  padding: 0.5em;
}
ul {
  display: flex;
  font-size: 22px;
  position: relative;
  bottom:22px;
}
fieldset {
  border-radius: 20px;
  margin-left: 60px;
}
#head {
  flex-direction: column;
  color:red;
}
#titre {
  font-size: 6em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#soustitre {
  font-size: 3.6em;
  position: relative;
  bottom:100px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#displayflex {
display: flex;
}
#gear {
  position: relative;
  top:0.45em;
  max-height: 8em;
}
#texteun, #textedeux, #textetrois {
padding:0.5em 3em 2em 3em;
}
#gif {
height: 30em;
width: 40em;
border-radius: 1em;
border:1em outset gray;
margin-left: 50px;
}
#zonequatre {
  display: flex;
}
#sendbutton {
  background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   width:90px;
   height:45px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   border-radius: 25px;
   justify-content: center;
   align-items: center;
   box-shadow: 10px 10px 5px grey;
}

#textarea {
  margin-bottom: 40px;

}
 li:hover {
    background-color: red;
    background-size: contain;
    box-shadow: 0px 10px 5px grey;
}
.titretexte {
  font-size: 3.6em;
}

.fontsizetext {
  font-size: 1.6em;
}
.galerie {
  width: 12em;
  height: 12em;
  padding: 0.5em;
}
.galerie:hover {
  width:13em;
  height:13em;
  padding:0em;
  box-shadow: 5px 5px 3px gray;
}
.container {
  max-width:100%;
  display: flex;
  flex-wrap: wrap;
}
.co {
  flex-direction: column;
}
.nom {
  font-size: 1.8em;
  font-weight: bold;
}
.input {
padding:25px;
}
.centrage {
  width:354px;
  display:flex;
  justify-content: center;
}
